*{
margin: 0;
padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container {
background-color: white;
padding: 2rem;
border-radius: 1rem;
min-height: 60vh;   
width: 50vh;
}

form {
margin: 2rem 0 1rem 0;


}

form  select,button,input  {
    width: 100%;
    border: none;
    outline: none;
border-radius: 0.75rem;

}

form input {
    border: 1px solid lightgray;
    
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;

}

.dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}


.Select-container img {
    width: 2rem;
    font-size: 1.5rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top:1rem ;
}

.Select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: .5rem;
    border: 1px solid lightgray;

}

.Select-container select {

    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button {
   height: 3rem; 
   background-color: rgb(130, 50, 130);
   color: antiquewhite;
   font-size: 1.15rem;
   cursor: pointer;
}